
.note-editor.codeview .note-codable {
    background-color: #222;
}

/* select2 */
div.select2-drop {
    z-index: 99999;
}
.select2-container-multi a.select2-search-choice-close {
    padding: 0;
    text-align: center;
}
a.select2-search-choice-close:before {
    position: absolute;
    top: 4px;
    right: 4px;
}

/*fotohranilische*/
.superbox-img {
    height: auto !important;
}
.b-j-catalog-buttons .btn-group-justified {
    width: 50% !important;
}
.b-j-images .input-group {
    display: block;
}
.b-j-images .input-group .form-control {
    display: block;
    width: 100% !important;
}
#j-images-sizes-tabs-content .tab-pane {
    position: relative;
}
#j-images-search-form table td {
    vertical-align: top;
}
#j-images-operations-form .btn {
    width: 100%;
}
.superbox-download-image-link {
    position: absolute;
    top: 0;
    left: 0;
}



